## pandas 2

### pandas ds:
1. series
2. data frame
3. panel

In [48]:
import pandas as pd
import numpy as np

In [49]:
pd.Series()

Series([], dtype: object)

In [50]:
data1 = [1, 2, 3]

In [51]:
pd.Series(data1)

0    1
1    2
2    3
dtype: int64

In [52]:
data2 = data2 = np.array([1, 2, 3, 4, 5, 6])

In [53]:
pd.Series(data2)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [54]:
data3 = {'a' : 1, 'b' : 2, 'c' : 3}

In [55]:
pd.Series(data3)

a    1
b    2
c    3
dtype: int64

In [56]:
pd.Series(10)

0    10
dtype: int64

In [57]:
data5 = ['ali', 'reza', 'hossein']

In [65]:
index = []

data6 = pd.Series(data5, index = ["a", "b", "c"])
data6

a        ali
b       reza
c    hossein
dtype: object

In [64]:
data6.loc["a"]

'ali'